#Explore and Handle Missing Values

##Import Data

In [ ]:
import pandas as pd

In [ ]:
# Mount Google Drive (if not already mounted)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Import Dataset
df_train = pd.read_csv('/content/drive/MyDrive/613 Capstone/train_LZdllcl.csv')
df_train.head()
#df_train = pd.read_csv("train_LZdllcl.csv")
#df_train

NameError: ignored

##Find Attributes with Null Values

In [ ]:
df_train.columns[df_train.isna().any()]

Index(['education', 'previous_year_rating'], dtype='object')

In [ ]:
df_train.education.isna().sum()

2409

In [ ]:
df_train.previous_year_rating.isna().sum()

4124

##Explore Education Null Values, list the unique options in column to see if null values possibly correspond to no education, check if null values correspond to a specific department or region

In [ ]:
df_train.education.unique()

array(["Master's & above", "Bachelor's", nan, 'Below Secondary'],
      dtype=object)

"Below Secondary" is a value in education attribute, so null values do not correspond to no education.

In [ ]:
df_enc = df_train.education.isnull().groupby(df_train['department']).sum().astype(int).reset_index(name='count')
print(df_enc)

          department  count
0          Analytics    337
1            Finance     36
2                 HR     32
3              Legal      4
4         Operations    226
5        Procurement     72
6                R&D     28
7  Sales & Marketing   1575
8         Technology     99

In [ ]:
df_enc = df_train.education.isnull().groupby(df_train['region']).sum().astype(int).reset_index(name='count')
print(df_enc)

       region  count
0    region_1     14
1   region_10      4
2   region_11     24
3   region_12      2
4   region_13     56
5   region_14     23
6   region_15    191
7   region_16     55
8   region_17      9
9   region_18      0
10  region_19     10
11   region_2    846
12  region_20      1
13  region_21      8
14  region_22    320
15  region_23     28
16  region_24      1
17  region_25     34
18  region_26    100
19  region_27     84
20  region_28     84
21  region_29     19
22   region_3      2
23  region_30     13
24  region_31     94
25  region_32     84
26  region_33      0
27  region_34      0
28   region_4      2
29   region_5      7
30   region_6     14
31   region_7    219
32   region_8     13
33   region_9     48

Null values are not local to a specific department or region. Null values in education column are random, will be best to either drop or replace this with something like the mean or mode.

##Explore Previous Year Rating Null Values, list the unique options in column to see what the rating scale is, check if null values correspond to a specific department or region

In [ ]:
df_train.previous_year_rating.unique()

array([ 5.,  3.,  1.,  4., nan,  2.])

The rating scale is a value from 1-5

In [ ]:
df_pyrnc = df_train.previous_year_rating.isnull().groupby(df_train['length_of_service']).sum().astype(int).reset_index(name='count')
print(df_pyrnc)

    length_of_service  count
0                   1   4124
1                   2      0
2                   3      0
3                   4      0
4                   5      0
5                   6      0
6                   7      0
7                   8      0
8                   9      0
9                  10      0
10                 11      0
11                 12      0
12                 13      0
13                 14      0
14                 15      0
15                 16      0
16                 17      0
17                 18      0
18                 19      0
19                 20      0
20                 21      0
21                 22      0
22                 23      0
23                 24      0
24                 25      0
25                 26      0
26                 27      0
27                 28      0
28                 29      0
29                 30      0
30                 31      0
31                 32      0
32                 33      0
33                 34      0
34                 37      0

All Null values in Previous Year Rating have a Length of Service of 1. This likely means that these people do not have a rating yet, since it is within their first year of work. If this were a categorical variable it would make most sense to replace these null values with something to represent no rating (like 0) rather than using a mean/mode, but because the rating is a continuous numerical variable it may make more sense to use the mean (since replacing with 0 would seem like all new employees have worst ratings, and any correlation the rating has to being promoted may get skewed).

##Replace Null Values for Previous Year Rating with the Median. Replace Null Values for Education with Mode of Education Column

In [ ]:
df_fna=df_train.copy(deep=True)
df_fna.previous_year_rating=df_fna.previous_year_rating.fillna(df_fna.previous_year_rating.median())
df_fna.previous_year_rating.isna().sum()

0

In [ ]:
df_train.previous_year_rating.value_counts()

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [ ]:
df_fna.previous_year_rating.value_counts()

3.0    22742
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [ ]:
df_fna.education=df_fna.education.fillna(df_fna.education.mode()[0])
df_fna.education.isna().sum()

0

In [ ]:
df_train.education.value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [ ]:
df_fna.education.value_counts()

Bachelor's          39078
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

##Export DF with filled missing values as csv for use in other notebooks.

In [ ]:
df_fna.to_csv('/content/drive/MyDrive/613 Capstone/Data_MissingValuesHandled.csv')